# استثناء مجلد الحزم المثبتة (node_modules)
node_modules/

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات اللوج
*.log

# ملفات مضغوطة أو أرشيف
*.rar
*.zip

# ملفات تنفيذية كبيرة ممكن تسبب مشاكل
*.exe

# مجلد بيئة العمل أو التكوين الخاص بالخادم (لو موجود)
.env

# ملفات تغليف npm
package-lock.json
yarn.lock
